/**
 * Frontend styles.
 */


/* ========================================================================================= Base */


.bigup__form {
    --fallback_white: #fff;
    --fallback_black: #262626;
    --fallback_orange: #ffb908;
    --fallback_green: #63CFA7;
	--fallback_red: #fd6a42;
	--fallback_blue: #70d3e5;
    --fallback_lightGrey: #eee;
    --bigup_border: solid 1px;
	--bigup_padding: 0.5em 0.75em;
	--bigup_gutter: 0.5em;
    position: relative;

	// Hide the anti-bot honeypot.
	.saveTheBees {
		display: none;
	}

	&.bigup__form-locked * {
		cursor: default;
		pointer-events: none !important;
	}

	.bigup__form_submitLabel-notReady { display: none;}
	.bigup__form_submitLabel-ready { display: inline;}

	button:disabled {
		.bigup__form_submitLabel-notReady { display: inline;}
		.bigup__form_submitLabel-ready { display: none;}
	}

	.bigup__alert_output {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;
		transition: opacity 150ms ease-in-out;
	}
}


/* ================================================================= Custom File Upload Component */


.bigup__customFileUpload {
	display: block;

	&_label {
		display: block;
		margin: var(--bigup_gutter) 0 var(--bigup_gutter) 0;
		border: var(--bigup_border);
		border-radius: var(--bigup_radius);
		cursor: pointer;
		padding: var(--bigup_padding);
		width: fit-content;

		&:hover {
			text-decoration: underline;
		}
	}

	&_input {
		display: none;
	}

	&_icon {
		display: inline-block;
		width: 1.5em;
		vertical-align: middle;
		text-align: left;
	}

	&_output ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			border: var(--bigup_border);
			border-radius: var(--bigup_radius);
			padding: var(--bigup_padding);
			margin: var(--bigup_gutter) 0 var(--bigup_gutter) 0;
		}
	}

	button {
		margin: 0;
		border: 0;
		background: none;
		padding: 0;
		color: inherit;
		font-size: inherit;
	}
}


/* ================================================================================= Alert Popups */


.bigup__alert {
	margin-block-end: 1.688em;
	border: var(--bigup_border);
	border-radius: var(--bigup_radius);
	box-shadow: 1px 3px 6px 1px #0008;
	background: var(--wp--preset--color--white, var(--fallback_lightGrey) );
	padding: var(--bigup_padding);
	text-align: center;
	color: var(--wp--preset--color--black, var(--fallback_black) );
	font-weight: 700;

	&::before {
		margin-inline-end:.5em;
		content: "\24D8";
	}

	&-danger {
		background:var(--wp--preset--color--vivid-red, var(--fallback_red) );
		color:#fff;
	}

	&-success {
		background:var(--wp--preset--color--vivid-green-cyan, var(--fallback_green) );
		color:#fff;
	}

	&-info {
		background:var(--wp--preset--color--vivid-cyan-blue, var(--fallback_blue) );
		color:#fff;
	}

	&-warning {
		background:var(--wp--preset--color--luminous-vivid-amber, var(--fallback_orange) );
		color:#fff;
	}

	&:last-child {
		margin-block-end: 0;
	}
}


/* ================================================================================ Default Theme */


.bigup__form:not( .bigup__form-nostyles ) {
	--bigup_radius: unset;
    --bigup_border: solid 1px;
	width: clamp(10em, 100%, 34em);
	text-align: inherit;
	font: inherit;
	max-width: 96vw;
	margin: 0 auto;

	.bigup__form_section {
		margin: 0;
		border: none;
		padding: 0;
		width: 100%;
		transition: opacity 150ms ease-in-out;
	}

	&.bigup__form-locked .bigup__form_section {
		opacity: 0.5;
	}

	.bigup__form_message {
		margin: 1em 0 1.688em 0;
	}

	.bigup__form_inputWrap {
		position: relative;
		transition: 0.2s;
		margin: var(--bigup_gutter) auto var(--bigup_gutter) 0;
		border: var( --bigup_border );
		min-width: 8em;
		min-height: fit-content;
		overflow: hidden;
		resize: none;
		width: 100%;

		&-short {
			max-width: 22em;
		}
	}

	.bigup__form_input {
		display: block;
		outline: none;
		border: none;
		padding: var(--bigup_padding);
		width: 100%;
		height: 100%;
		resize: vertical;
		color: inherit;

		&:not(.bigup__form-locked *):hover {
			cursor: text;
		}
	}

	.bigup__form_submit {
		margin-top: calc( 4 * var(--bigup_gutter) );
	}

	.bigup__form_flag {
		display: flex;
		position: absolute;
		top: -1.5em;
		right: 0.2em;
		align-items: center;
		justify-content: center;
		transition: top 0.15s;
		border-radius: 0 0 0 2em;
		width: 1.5em;
		height: 1.5em;

		&-hover {
			background: var(--wp--preset--color--luminous-vivid-amber, var(--fallback_orange) );
		}

		&-focus {
			background: var(--wp--preset--color--vivid-green-cyan, var(--fallback_green) );
		}
	}

	.bigup__form_inputWrap:not(.bigup__form-locked *) {

		&:hover .bigup__form_flag-hover,
		&:focus-within .bigup__form_flag-focus {
			top: 0.2em;
		}
	}
}

:not( .bigup__form-nostyles ) {

	/* Widget overrides */
	.widget .bigup__form_message {
		margin: 1em 0;
		font-size: 0.8em;
	}
		.widget .bigup__form_inputWrap {
			margin: var(--bigup_gutter) auto 0 0;
			width: 100%;
		}
}


/* =================================================================================== Dark Theme */


.bigup__form:not( .bigup__form-nostyles ).bigup__form-dark {
    --bigup_shadow-inset: inset -0.1em 0.2em 0.5em 0.2em #000c;
	--bigup_border: solid 0.2em var(--wp--preset--color--white, var(--fallback_lightGrey) );
	--bigup_radius: 0.6em;
	padding: 1em;
	text-align: center;

	.bigup__form_inputWrap {
		margin: var(--bigup_gutter) auto var(--bigup_gutter) 0;
		border: var( --bigup_border );
		border-radius: var(--bigup_radius);
		box-shadow: var(--bigup_shadow-inset);
		background: var(--wp--preset--color--black, var(--fallback_black) );

		&-wide {
			width: 100%;
		}
	}

	.bigup__form_input {
		background: #0000;
		padding: var(--bigup_padding);
		text-shadow: 0 0 white;
		color: var(--wp--preset--color--white, var(--fallback_white) );
	}

	.bigup__form_submit {
		margin-top: calc( 4 * var(--bigup_gutter) );
	}

	.bigup__form_flag {
		right: 0;
		border-radius: 0 0 0 1em;
		box-shadow: inset -0.3em 0.4em 0.5em 0 #000c;
	}

	.bigup__form_inputWrap:not(.bigup__form-locked *) {

		&:hover .bigup__form_flag-hover,
		&:focus-within .bigup__form_flag-focus {
			top: 0;
		}
	}
}
